Repository mike-north/api-extractor-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,mts,cts}": ["eslint --fix"],
  "*.{js,ts,json,md,mts,cts,mjs,cjs}": ["prettier --write"]
}

fix: address code review feedback
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: add husky pre-commit hook with lint-staged (#29)
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Verify angle bracket tracking fix for generic types in parameter lists (#27)
  .changeset/fix-angle-bracket-tracking.md
Due: prettier --write

feat: add semantic-release plugin for API change validation (#30)
  .changeset/fix-angle-bracket-tracking.md
Due: prettier --write

fix: ensure build depends on dependency api-report generation
  api-extractor-base.json
  api-extractor-tools.code-workspace
  nx.json
Due: prettier --write

chore: downgrade TypeScript to 5.8.3
  .changeset/vast-monkeys-agree.md
  package.json
  pnpm-lock.yaml
  tools/change-detector/package.json
  tools/changeset-change-detector/package.json
  tools/module-declaration-merger/package.json
Due: prettier --write

fix: split release workflow to avoid environment blocking PR creation
  .github/workflows/release.yml
Due: none

fix: split release workflow to avoid environment blocking PR creation (#33)
  .github/workflows/release.yml
Due: none

Downgrade TypeScript to 5.8.3 (#32)
  .changeset/vast-monkeys-agree.md
  package.json
  pnpm-lock.yaml
  tools/change-detector/package.json
  tools/changeset-change-detector/package.json
  tools/module-declaration-merger/package.json
Due: prettier --write

ci: add test coverage reporting with Codecov
  .github/workflows/ci.yml
  .node-version
  codecov.yml
  knip.json
  package.json
  pnpm-lock.yaml
  tools/change-detector-semantic-release-plugin/package.json
  tools/change-detector-semantic-release-plugin/vitest.config.mts
  tools/change-detector/package.json
  tools/change-detector/vitest.config.mts
  tools/changeset-change-detector/package.json
  tools/changeset-change-detector/vitest.config.mts
  tools/module-declaration-merger/package.json
  tools/module-declaration-merger/vitest.config.mts
Due: eslint --fix, prettier --write

ci: add test coverage reporting with Codecov (#35)
  .github/workflows/ci.yml
  .node-version
  codecov.yml
  knip.json
  package.json
  pnpm-lock.yaml
  tools/change-detector-semantic-release-plugin/package.json
  tools/change-detector-semantic-release-plugin/vitest.config.mts
  tools/change-detector/package.json
  tools/change-detector/vitest.config.mts
  tools/changeset-change-detector/package.json
  tools/changeset-change-detector/vitest.config.mts
  tools/module-declaration-merger/package.json
  tools/module-declaration-merger/vitest.config.mts
Due: eslint --fix, prettier --write

fix: add missing packages to pre-release mode configuration
  .changeset/pre.json
Due: prettier --write

test: add CLI integration tests for change-detector and changeset-change-detector
  tools/change-detector/test/cli.test.ts
  tools/changeset-change-detector/test/cli.test.ts
Due: eslint --fix, prettier --write

docs: add missing packages to README
  README.md
Due: prettier --write

fix: add missing packages to pre-release mode configuration (#36)
  .changeset/pre.json
Due: prettier --write

docs: add missing packages to README (#37)
  README.md
Due: prettier --write

test: add CLI integration tests for change-detector and changeset-change-detector (#38)
  tools/change-detector/test/cli.test.ts
  tools/changeset-change-detector/test/cli.test.ts
Due: eslint --fix, prettier --write

chore: add .gitignore to package temp folders
  tools/change-detector-semantic-release-plugin/temp/.gitignore
  tools/change-detector-semantic-release-plugin/temp/.gitkeep
  tools/change-detector-semantic-release-plugin/temp/change-detector-semantic-release-plugin.api.md
  tools/change-detector/temp/.gitignore
  tools/change-detector/temp/.gitkeep
  tools/change-detector/temp/change-detector.api.md
  tools/changeset-change-detector/temp/.gitignore
  tools/changeset-change-detector/temp/.gitkeep
  tools/changeset-change-detector/temp/changeset-change-detector.api.md
  tools/module-declaration-merger/temp/.gitignore
  tools/module-declaration-merger/temp/.gitkeep
  tools/module-declaration-merger/temp/module-declaration-merger.api.md
Due: prettier --write

chore: add .gitignore to package temp folders (#39)
  tools/change-detector-semantic-release-plugin/temp/.gitignore
  tools/change-detector-semantic-release-plugin/temp/.gitkeep
  tools/change-detector-semantic-release-plugin/temp/change-detector-semantic-release-plugin.api.md
  tools/change-detector/temp/.gitignore
  tools/change-detector/temp/.gitkeep
  tools/change-detector/temp/change-detector.api.md
  tools/changeset-change-detector/temp/.gitignore
  tools/changeset-change-detector/temp/.gitkeep
  tools/changeset-change-detector/temp/changeset-change-detector.api.md
  tools/module-declaration-merger/temp/.gitignore
  tools/module-declaration-merger/temp/.gitkeep
  tools/module-declaration-merger/temp/module-declaration-merger.api.md
Due: prettier --write

fix(nx): add ^build to build target dependencies
  nx.json
Due: prettier --write

fix(demo-site): remove duplicate example files and unused ExamplePicker
  knip.json
  tools/demo-site/src/components/ExamplePicker.css
  tools/demo-site/src/components/ExamplePicker.tsx
  tools/demo-site/src/examples/examples.ts
Due: eslint --fix, prettier --write

fix(ci): improve Nx cache key to bust stale caches
  .github/workflows/ci.yml
Due: none

fix(nx): ensure check:api-report waits for dependencies' api-report
  nx.json
Due: prettier --write

fix(tsconfig): correct baseUrl for workspace dependency resolution
  tools/change-detector-semantic-release-plugin/tsconfig.json
  tools/changeset-change-detector/tsconfig.json
Due: prettier --write

fix(api-extractor): bundle workspace dependency for API report generation
  tools/change-detector-semantic-release-plugin/api-extractor.json
  tools/changeset-change-detector/api-extractor.json
Due: prettier --write

fix(pnpm): add .npmrc with hoisting config for module resolution
  .npmrc
Due: none

fix(tsconfig): point paths to index.d.ts instead of alpha rollup
  tools/change-detector-core/src/comparator.ts
  tools/change-detector-core/src/index.ts
  tools/change-detector-core/src/parser-core.ts
  tools/change-detector-core/temp/.gitkeep
  tools/change-detector-semantic-release-plugin/tsconfig.json
  tools/changeset-change-detector/tsconfig.json
  tools/demo-site/src/examples/index.ts
  tools/demo-site/src/index.css
Due: eslint --fix, prettier --write

chore: remove .npmrc (not needed)
  .npmrc
Due: none

test(demo-site): add comprehensive UI tests
  pnpm-lock.yaml
  tools/demo-site/README.md
  tools/demo-site/package.json
  tools/demo-site/test/App.test.tsx
  tools/demo-site/test/ChangeReport.test.tsx
  tools/demo-site/test/setup.tsx
  tools/demo-site/vitest.config.ts
Due: eslint --fix, prettier --write

feat(demo-site): add UX improvements and shareable URLs
  tools/demo-site/src/App.css
  tools/demo-site/src/App.tsx
  tools/demo-site/src/index.css
Due: none

test(demo-site): address code review feedback
  tools/demo-site/README.md
  tools/demo-site/test/App.test.tsx
  tools/demo-site/test/ChangeReport.test.tsx
Due: prettier --write

test(demo-site): add comprehensive UI tests (#42)
  pnpm-lock.yaml
  tools/demo-site/README.md
  tools/demo-site/package.json
  tools/demo-site/src/App.css
  tools/demo-site/src/App.tsx
  tools/demo-site/src/index.css
  tools/demo-site/test/App.test.tsx
  tools/demo-site/test/ChangeReport.test.tsx
  tools/demo-site/test/setup.tsx
  tools/demo-site/vitest.config.ts
Due: eslint --fix, prettier --write

fix(demo-site): address code review feedback
  tools/demo-site/src/App.tsx
Due: none

fix(demo-site): add focus style to copy button for keyboard accessibility
  tools/demo-site/src/index.css
Due: none
