Repository mike-north/api-extractor-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(demo-site): add UX improvements and shareable URLs (#41)
  tools/demo-site/src/App.tsx
  tools/demo-site/src/index.css
Due: none

feat(demo-site): add light/dark mode theming with gruvbox colors
  tools/demo-site/src/App.tsx
  tools/demo-site/src/components/DtsEditor.tsx
  tools/demo-site/src/index.css
  tools/demo-site/src/themes/gruvbox.ts
  tools/demo-site/test/App.test.tsx
Due: eslint --fix, prettier --write

feat(demo-site): add auto theme mode that follows system preference
  tools/demo-site/src/App.tsx
  tools/demo-site/test/App.test.tsx
Due: none

fix(demo-site): address code review feedback
  tools/demo-site/src/App.tsx
  tools/demo-site/src/components/DtsEditor.tsx
  tools/demo-site/src/index.css
  tools/demo-site/test/App.test.tsx
Due: none

feat(demo-site): add light/dark mode theming with gruvbox colors (#47)
  tools/demo-site/src/App.tsx
  tools/demo-site/src/components/DtsEditor.tsx
  tools/demo-site/src/index.css
  tools/demo-site/src/themes/gruvbox.ts
  tools/demo-site/test/App.test.tsx
Due: eslint --fix, prettier --write

fix(demo-site): fix CI linting issues
  nx.json
  tools/demo-site/src/utils/urlLimits.ts
Due: eslint --fix, prettier --write

feat(demo-site): add test coverage and URL limit utilities
  tools/demo-site/src/utils/encoding.ts
  tools/demo-site/src/utils/urlLimits.ts
  tools/demo-site/test/BugReportModal.test.tsx
Due: eslint --fix, prettier --write

feat(demo-site): add bug report workflow for change-detector-core
  tools/demo-site/src/App.tsx
  tools/demo-site/src/components/BugReportModal.css
  tools/demo-site/src/components/BugReportModal.tsx
  tools/demo-site/src/index.css
Due: none

fix(demo-site): align BugReportModal with theme system
  tools/demo-site/src/components/BugReportModal.css
Due: none

docs: add change-detector-core and demo-site to documentation
  .cursor/rules/main.mdc
  .gitignore
  DEVELOPMENT.md
  README.md
Due: prettier --write

fix(demo-site): remove unused calculateRemainingUrlSpace function
  tools/demo-site/src/utils/urlLimits.ts
Due: eslint --fix, prettier --write

docs: add change-detector-core and demo-site to documentation (#48)
  .cursor/rules/main.mdc
  .gitignore
  DEVELOPMENT.md
  README.md
Due: prettier --write

fix(demo-site): fix slow test timeout in BugReportModal
  tools/demo-site/test/BugReportModal.test.tsx
Due: none

feat(demo-site): add bug report workflow (#43)
  nx.json
  tools/demo-site/src/App.tsx
  tools/demo-site/src/components/BugReportModal.css
  tools/demo-site/src/components/BugReportModal.tsx
  tools/demo-site/src/index.css
  tools/demo-site/src/utils/encoding.ts
  tools/demo-site/src/utils/urlLimits.ts
  tools/demo-site/test/BugReportModal.test.tsx
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml for eslint-plugin
  pnpm-lock.yaml
Due: none

fix: address code review feedback
  tools/eslint-plugin/src/index.ts
  tools/eslint-plugin/src/rules/missing-release-tag.ts
  tools/eslint-plugin/test/rules/package-documentation.test.ts
Due: eslint --fix, prettier --write

fix: correct publish job condition in release workflow
  .github/workflows/release.yml
Due: none

feat(demo-site): convert theme toggle to dropdown
  .changeset/theme-dropdown.md
  tools/demo-site/src/App.tsx
  tools/demo-site/src/index.css
  tools/demo-site/test/App.test.tsx
Due: prettier --write

test: add comprehensive test coverage for core modules
  .changeset/add-test-coverage-and-validation.md
  tools/change-detector-core/test/comparator.test.ts
  tools/change-detector-core/test/parser-core.test.ts
  tools/change-detector-semantic-release-plugin/src/analyzer.ts
  tools/change-detector-semantic-release-plugin/test/analyzer.test.ts
  tools/demo-site/test/encoding.test.ts
  tools/demo-site/test/urlLimits.test.ts
Due: eslint --fix, prettier --write

fix: correct publish job condition in release workflow (#50)
  .github/workflows/release.yml
Due: none

feat(demo-site): convert theme toggle to dropdown (#51)
  .changeset/theme-dropdown.md
  tools/demo-site/src/App.tsx
  tools/demo-site/src/index.css
  tools/demo-site/test/App.test.tsx
Due: prettier --write

test: add comprehensive test coverage for core modules (#52)
  .changeset/add-test-coverage-and-validation.md
  tools/change-detector-core/test/comparator.test.ts
  tools/change-detector-core/test/parser-core.test.ts
  tools/change-detector-semantic-release-plugin/src/analyzer.ts
  tools/change-detector-semantic-release-plugin/test/analyzer.test.ts
  tools/demo-site/test/encoding.test.ts
  tools/demo-site/test/urlLimits.test.ts
Due: eslint --fix, prettier --write

feat: add markdownlint setup with nx caching and auto-fix
  .changeset/add-changeset-plugin.md
  .changeset/add-semantic-release-plugin.md
  .changeset/vast-monkeys-agree.md
  .husky/pre-commit
  .markdownlint-cli2.jsonc
  DEVELOPMENT.md
  eslint.config.mts
  nx.json
  package.json
  pnpm-lock.yaml
  tools/change-detector-core/src/comparator.ts
  tools/change-detector-core/src/index.ts
  tools/change-detector-core/src/parser-core.ts
  tools/change-detector-semantic-release-plugin/README.md
  tools/change-detector-semantic-release-plugin/src/notes-generator.ts
  tools/change-detector-semantic-release-plugin/src/plugin.ts
  tools/change-detector-semantic-release-plugin/test/notes-generator.test.ts
  tools/change-detector-semantic-release-plugin/test/plugin.test.ts
  tools/change-detector-semantic-release-plugin/test/tsconfig.json
  tools/change-detector-semantic-release-plugin/tsconfig.json
  tools/change-detector/ARCHITECTURE.md
  tools/changeset-change-detector/README.md
  tools/changeset-change-detector/api-extractor.json
  tools/changeset-change-detector/src/analyzer.ts
  tools/changeset-change-detector/src/cli.ts
  tools/changeset-change-detector/src/generator.ts
  tools/changeset-change-detector/src/index.ts
  tools/changeset-change-detector/src/types.ts
  tools/changeset-change-detector/src/validator.ts
  tools/changeset-change-detector/test/analyzer.test.ts
  tools/changeset-change-detector/test/cli.test.ts
  tools/changeset-change-detector/test/generator.test.ts
  tools/changeset-change-detector/test/tsconfig.json
  tools/changeset-change-detector/test/types.test.ts
  tools/changeset-change-detector/test/validator.test.ts
  tools/changeset-change-detector/tsconfig.json
  tools/demo-site/src/examples/index.ts
  tools/eslint-plugin/src/utils/tsdoc-parser.ts
Due: eslint --fix, prettier --write

fix: combine version and publish into single release job
  .cursor/rules/main.mdc
  .github/workflows/release.yml
Due: none

fix: combine version and publish into single release job
  .github/workflows/release.yml
Due: none

fix: combine version and publish into single release job (#54)
  .github/workflows/release.yml
Due: none

fix: move nx targets from package.json to nx.json targetDefaults
  nx.json
  package.json
Due: prettier --write

docs: add npm version badges to all package READMEs
  README.md
  tools/change-detector-core/README.md
  tools/change-detector-semantic-release-plugin/README.md
  tools/change-detector/README.md
  tools/changeset-change-detector/README.md
  tools/eslint-plugin/README.md
  tools/module-declaration-merger/README.md
Due: prettier --write

docs: add npm version badges to all package READMEs (#56)
  README.md
  tools/change-detector-core/README.md
  tools/change-detector-semantic-release-plugin/README.md
  tools/change-detector/README.md
  tools/changeset-change-detector/README.md
  tools/eslint-plugin/README.md
  tools/module-declaration-merger/README.md
Due: prettier --write

fix: address PR review feedback from Copilot
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  nx.json
  package.json
  tools/eslint-plugin/src/utils/tsdoc-parser.ts
Due: eslint --fix, prettier --write

feat: add markdownlint setup with nx caching and auto-fix (#55)
  .changeset/add-changeset-plugin.md
  .changeset/add-semantic-release-plugin.md
  .changeset/vast-monkeys-agree.md
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  DEVELOPMENT.md
  eslint.config.mts
  nx.json
  package.json
  pnpm-lock.yaml
  tools/change-detector-core/src/comparator.ts
  tools/change-detector-core/src/index.ts
  tools/change-detector-core/src/parser-core.ts
  tools/change-detector-semantic-release-plugin/README.md
  tools/change-detector-semantic-release-plugin/src/notes-generator.ts
  tools/change-detector-semantic-release-plugin/src/plugin.ts
  tools/change-detector-semantic-release-plugin/test/notes-generator.test.ts
  tools/change-detector-semantic-release-plugin/test/plugin.test.ts
  tools/change-detector-semantic-release-plugin/test/tsconfig.json
  tools/change-detector-semantic-release-plugin/tsconfig.json
  tools/change-detector/ARCHITECTURE.md
  tools/changeset-change-detector/api-extractor.json
  tools/changeset-change-detector/src/analyzer.ts
  tools/changeset-change-detector/src/cli.ts
  tools/changeset-change-detector/src/generator.ts
  tools/changeset-change-detector/src/index.ts
  tools/changeset-change-detector/src/types.ts
  tools/changeset-change-detector/src/validator.ts
  tools/changeset-change-detector/test/analyzer.test.ts
  tools/changeset-change-detector/test/cli.test.ts
  tools/changeset-change-detector/test/generator.test.ts
  tools/changeset-change-detector/test/tsconfig.json
  tools/changeset-change-detector/test/types.test.ts
  tools/changeset-change-detector/test/validator.test.ts
  tools/changeset-change-detector/tsconfig.json
  tools/demo-site/src/examples/index.ts
Due: eslint --fix, prettier --write

feat: add automatic GitHub release creation on package publish
  .github/workflows/release.yml
Due: none

feat: add automatic GitHub release creation on package publish (#57)
  .github/workflows/release.yml
Due: none

Update changelog for version 0.1.0-alpha.0
  tools/change-detector-core/CHANGELOG.md
Due: prettier --write

markdown lint fixes
  .markdownlint-cli2.jsonc
  DEVELOPMENT.md
  package.json
  tools/change-detector-semantic-release-plugin/README.md
  tools/change-detector/ARCHITECTURE.md
  tools/changeset-change-detector/README.md
  tools/eslint-plugin/README.md
Due: prettier --write

skip pnpm test if PR is comrpised exclusively of markdown changes
  .github/workflows/ci.yml
  .markdownlint-cli2.jsonc
  docs/eslint-plugin.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,mts,cts}
  prettier --write: any of: *.{js,ts,json,md,mts,cts,mjs,cjs}
